
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom Scroll Bar
@import "node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar";
@import "node_modules/toastr/build/toastr";

.level-up-button {
    margin-bottom: 10px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5 }
}

.progress-bar {
    animation-name: fillBar;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fillBar{
    50% {width: 30%; opacity:0.2}
    100% {opacity: 0}
}

.health-bar-safe{
    background-color: #277212;
}

.health-bar-danger{
    background-color: $brand-danger;
}

.stamina-bar{
    background-color: #d1920a;
}

.potions-row .col-xs-4:hover{
    cursor: pointer;
}

#chat {
    position: fixed;
    z-index: 100;
    bottom: -300px;
    right: 20px;
    width: 30%;

    .panel-body {
        height: 300px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .inputRow {
        padding: 15px;
    }

    .sender {
        font-weight: bold;
    }

    .message-box {
        padding: 10px 0px;
    }
}

/* Override custom bar icons */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
    background-image: url(/img/mCSB_buttons.png); /* css sprites */
    background-repeat: no-repeat;
    opacity: 0.4; filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)";
}
