
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.level-up-button {
    margin-bottom: 10px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5 }
}

.progress-bar {
    animation-name: fillBar;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fillBar{
    50% {width: 30%; opacity:0.2}
    100% {opacity: 0}
}

.health-bar-safe{
    background-color: #277212;
}

.health-bar-danger{
    background-color: $brand-danger;
}

.stamina-bar{
    background-color: #d1920a;
}

.potions-row .col-xs-4:hover{
    cursor: pointer;
}

#chat {
    position: fixed;
    bottom: -300px;
    right: 20px;
    width: 30%;

    .panel-body {
        height: 300px;
        overflow: scroll;
    }

    .inputRow {
        padding: 15px;
    }

    .sender {
        font-weight: bold;
    }

    .message-box {
        padding: 10px 0px;
    }
}